body {
    margin: 0;
    padding: 40px;
    font-family: 'Pretendard', sans-serif;
    background: white;
}

h2 {
    margin-bottom: 20px;
}

.options {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.outer-box {
    margin-top: 8px;
    padding: 12px;
    display: inline-block;
}

/* 바깥 테두리 옵션 */
.outer-box.border {
    border: none;
    outline: 0.5px solid rgba(0,0,0, 0.3);
}

/* 격자 설정 */
.grid {
    display: grid;
    grid-template-columns: repeat(10, 22px);  
    grid-auto-rows: 22px;
    gap: 6px;
    counter-reset: q;
}

/* 기본 셀 */
.cell {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 동그라미 번호 */
.cell.num::before {
    content: counter(q);
    counter-increment: q;

    width: 22px;
    height: 22px;
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    line-height: 1;
}

/* 번호 비활성화 */
.no-number .num::before {
    content: "";
}
